/* 時計本体 */

#clock {
    margin: 40px auto;
    width: 700px;
    height: 700px;
    position: relative;
}


/* 秒針 */

#second-hand {
    animation: rotation-s2 60s linear infinite;
    background-color: #999;
    border-radius: 2px;
    height: 4px;
    position: absolute;
    right: calc(50% - 2px);
    top: calc(50% - 2px);
    transform-origin: calc(100% - 2px) center;
    width: 45%;
}


/* 分針 */

#minute-hand {
    animation: rotation-m2 3600s linear infinite;
    background-color: #000;
    border-radius: 5px;
    height: 10px;
    position: absolute;
    right: calc(50% - 5px);
    top: calc(50% - 5px);
    transform-origin: calc(100% - 5px) center;
    width: 38%;
}


/* 時針 */

#hour-hand {
    animation: rotation-h2 86400s linear infinite;
    background-color: #cc3b3b;
    border-radius: 5px;
    height: 10px;
    position: absolute;
    right: calc(50% - 5px);
    top: calc(50% - 5px);
    transform-origin: calc(100% - 5px) center;
    width: 25%;
}